.projects-container {
  padding: 10px;
  max-height: 450px;
  overflow: auto;
}

.project-title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

.project-desc {
  font-size: 0.8em;
}

.project-btn {
  margin: 15px 5px 0 0;
}

.project-btns {
  display: flex;
}

.add-input {
  display: flex;
  justify-content: space-between;
}
